@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;900&family=Raleway&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.content {
  will-change: transform;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Raleway";
  background-color: #1e1b1b;
  color: #fafafa;
  height: var(--depth);
}
html._lock,
body._lock {
  overflow: hidden;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1);
  --transition-many: 0.2s cubic-bezier(0.2, 0.6, 0, 1);
  --transition-footer: 1.25s cubic-bezier(0.2, 0.35, 0, 1);
  --gutter: 30px;
  --side-small: 26;
  --size-big: 36;
  --depth: 4000px;
  --accent: #CC8869;
  --text: #333;
}

.title {
  font-size: 50px;
  text-align: center;
}
@media (max-width: 1430px) {
  .title {
    font-size: calc(40px + 10 * ((100vw - 320px) / 1110));
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 80px;
  }
}
.header__logo {
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 900;
  margin-right: 30px;
  background: -o-linear-gradient(330deg, LightSeaGreen, Chocolate, Crimson);
  background: linear-gradient(120deg, LightSeaGreen, Chocolate, Crimson);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 6;
}
.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    z-index: 5;
    background-color: rgb(36, 52, 34);
    padding: 160px 15px 50px 15px;
    -webkit-transition: left 0.4s ease 0s;
    -o-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    background-color: rgb(36, 52, 34);
    z-index: 5;
    left: -100%;
    -webkit-transition: left 0.4s ease 0s;
    -o-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body.active::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 60px;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    -webkit-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
}
.menu__link {
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1430px) {
  .menu__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__link:hover {
  color: rgb(203, 141, 9);
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 35px;
  }
}
@media (max-width: 767.98px) and (max-width: 1430px) {
  .menu__link {
    font-size: calc(25px + 10 * ((100vw - 320px) / 1110));
  }
}

@media (max-width: 767.98px) {
  .burger-wrapper {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    background-color: #1e1b1b;
    -webkit-box-shadow: 0 0 2.5px rgb(228, 184, 10), 0 0 5px rgb(228, 184, 10), 0 0 10px rgb(228, 184, 10), 0 0 20px rgb(228, 184, 10);
            box-shadow: 0 0 2.5px rgb(228, 184, 10), 0 0 5px rgb(228, 184, 10), 0 0 10px rgb(228, 184, 10), 0 0 20px rgb(228, 184, 10);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  .burger-wrapper.active span:nth-child(1) {
    width: 100%;
    -webkit-transform: translateY(7.3px);
        -ms-transform: translateY(7.3px);
            transform: translateY(7.3px);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger-wrapper.active span:nth-child(2) {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger-wrapper.active span:nth-child(3) {
    bottom: 7px;
    width: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  .burger-wrapper.active .burger-icon {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (max-width: 767.98px) {
  .burger-icon {
    position: relative;
    width: 22px;
    height: 17px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .burger-icon span {
    position: absolute;
    display: block;
    height: 3.5px;
    background: -o-linear-gradient(45deg, rgb(228, 184, 10), #1e1b1b);
    background: linear-gradient(45deg, rgb(228, 184, 10), #1e1b1b);
    border: 0.1px solid rgb(228, 184, 10);
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0.4px rgb(228, 184, 10), 0 0 0.9px rgb(228, 184, 10);
            box-shadow: 0 0 0.4px rgb(228, 184, 10), 0 0 0.9px rgb(228, 184, 10);
    -webkit-transition: 0.3s ease 0.1s;
    -o-transition: 0.3s ease 0.1s;
    transition: 0.3s ease 0.1s;
  }
  .burger-icon span:nth-child(1) {
    top: 0;
    left: 0;
    width: 50%;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .burger-icon span:nth-child(2) {
    width: 100%;
  }
  .burger-icon span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 50%;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
}

.page-main__container {
  padding-top: 170px;
  padding-bottom: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 55px;
}
@media (max-width: 1430px) {
  .page-main__container {
    padding-top: calc(120px + 50 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .page-main__container {
    padding-bottom: calc(120px + 100 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .page-main__container {
    gap: calc(30px + 25 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 767.98px) {
  .page-main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page-main__content {
  max-width: 500px;
}
@media (max-width: 767.98px) {
  .page-main__content {
    text-align: center;
  }
}
.page-main__label {
  color: var(--color-text);
  font-family: "Raleway";
  font-size: 25px;
  margin-bottom: 25px;
}
@media (max-width: 1430px) {
  .page-main__label {
    font-size: calc(16px + 9 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .page-main__label {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 767.98px) {
  .page-main__label {
    text-align: center;
  }
}
.page-main__title {
  font-family: "Outfit";
  font-size: 50px;
  margin-bottom: 25px;
}
@media (max-width: 1430px) {
  .page-main__title {
    font-size: calc(25px + 25 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .page-main__title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 767.98px) {
  .page-main__title {
    text-align: center;
  }
}
.page-main__text {
  color: var(--color-text);
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.2;
}
@media (max-width: 1430px) {
  .page-main__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .page-main__text {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 767.98px) {
  .page-main__text {
    text-align: center;
  }
}
.page-main__image {
  will-change: transform;
  position: relative;
}
.page-main__image img {
  width: calc(var(--index) * 16);
  border-radius: 0 0 350px 350px;
}
.page-main__decor-1 {
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: 5%;
  left: -10%;
  background: rgb(203, 141, 9);
  border-radius: 20px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}
@media (max-width: 991.98px) {
  .page-main__decor-1 {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    bottom: 12%;
  }
}
@media (max-width: 580px) {
  .page-main__decor-1 {
    bottom: 0;
  }
}
@media (max-width: 370px) {
  .page-main__decor-1 {
    display: none;
  }
}
.page-main__decor-2 {
  position: absolute;
  width: 150px;
  height: 160px;
  bottom: 10%;
  right: 1%;
  background: rgb(203, 141, 9);
  border-radius: 40px;
  -webkit-transform: rotate(-80deg);
      -ms-transform: rotate(-80deg);
          transform: rotate(-80deg);
  z-index: -1;
}
@media (max-width: 650px) {
  .page-main__decor-2 {
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
}
@media (max-width: 580px) {
  .page-main__decor-2 {
    bottom: 15%;
    right: -5%;
  }
}
@media (max-width: 370px) {
  .page-main__decor-2 {
    display: none;
  }
}
.page-main__decor-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25%;
  left: -5%;
  background: rgb(203, 141, 9);
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}
@media (max-width: 991.98px) {
  .page-main__decor-3 {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    left: 5%;
  }
}
@media (max-width: 400px) {
  .page-main__decor-3 {
    left: 10%;
  }
}
@media (max-width: 370px) {
  .page-main__decor-3 {
    display: none;
  }
}
.page-main__decor-4 {
  position: absolute;
  width: 50px;
  height: 100px;
  top: 5%;
  right: 1%;
  background: rgb(203, 141, 9);
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}
@media (max-width: 991.98px) {
  .page-main__decor-4 {
    width: 25px;
    height: 50px;
    border-radius: 10px;
  }
}
@media (max-width: 370px) {
  .page-main__decor-4 {
    display: none;
  }
}

.resume__page {
  padding-top: 130px;
  padding-bottom: 170px;
}
@media (max-width: 1430px) {
  .resume__page {
    padding-top: calc(100px + 30 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .resume__page {
    padding-bottom: calc(120px + 50 * ((100vw - 320px) / 1110));
  }
}
.resume__title {
  margin-bottom: 40px;
}
@media (max-width: 1430px) {
  .resume__title {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1110));
  }
}
.resume__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.resume__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1430px) {
  .resume__body {
    -webkit-column-gap: calc(30px + 20 * ((100vw - 320px) / 1110));
       -moz-column-gap: calc(30px + 20 * ((100vw - 320px) / 1110));
            column-gap: calc(30px + 20 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 910px) {
  .resume__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.resume__image {
  will-change: transform;
  margin-bottom: 45px;
}
@media (max-width: 1430px) {
  .resume__image {
    margin-bottom: calc(30px + 15 * ((100vw - 320px) / 1110));
  }
}
.resume__image img {
  width: calc(var(--index) * 17);
  border-radius: 350px;
}
@media (max-width: 550px) {
  .resume__image img {
    width: 100%;
  }
}
.resume__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 350px));
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  will-change: transform;
  row-gap: 60px;
}
@media (max-width: 1430px) {
  .resume__content {
    row-gap: calc(20px + 40 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 420px) {
  .resume__content {
    grid-template-columns: repeat(1, minmax(80px, 350px));
  }
}
.resume__name {
  font-size: 25px;
  line-height: 1.12;
  color: var(--color-header);
  margin-bottom: 20px;
}
@media (max-width: 1430px) {
  .resume__name {
    font-size: calc(18px + 7 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .resume__name {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1110));
  }
}
.resume__value {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.52;
}
@media (max-width: 1430px) {
  .resume__value {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1110));
  }
}

.portfolio__page {
  padding-bottom: 80px;
}
@media (max-width: 1430px) {
  .portfolio__page {
    padding-bottom: calc(70px + 10 * ((100vw - 320px) / 1110));
  }
}
.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (max-width: 1430px) {
  .portfolio__body {
    -webkit-column-gap: calc(20px + 5 * ((100vw - 320px) / 1110));
       -moz-column-gap: calc(20px + 5 * ((100vw - 320px) / 1110));
            column-gap: calc(20px + 5 * ((100vw - 320px) / 1110));
  }
}
.portfolio__body > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 670px) {
  .portfolio__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.portfolio__left {
  will-change: transform;
}
.portfolio__left .left-portfolio__image {
  margin-top: 65px;
}
@media (max-width: 1430px) {
  .portfolio__left .left-portfolio__image {
    margin-top: calc(40px + 25 * ((100vw - 320px) / 1110));
  }
}
.portfolio__right {
  will-change: transform;
  margin-top: 175px;
}
@media (max-width: 1430px) {
  .portfolio__right {
    margin-top: calc(80px + 95 * ((100vw - 320px) / 1110));
  }
}
.portfolio__right .left-portfolio__image {
  margin-top: 70px;
}
@media (max-width: 1430px) {
  .portfolio__right .left-portfolio__image {
    margin-top: calc(50px + 20 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 670px) {
  .portfolio__right {
    margin-top: 65px;
  }
}
@media (max-width: 670px) and (max-width: 1430px) {
  .portfolio__right {
    margin-top: calc(40px + 25 * ((100vw - 320px) / 1110));
  }
}

.left-portfolio__image img {
  width: calc(var(--index) * 18);
  border-radius: 350px;
  margin-bottom: 105px;
  max-height: 90vh;
}
@media (max-width: 1430px) {
  .left-portfolio__image img {
    margin-bottom: calc(20px + 85 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 860px) {
  .left-portfolio__image img {
    width: 100%;
  }
}

.text-block {
  max-width: 450px;
  color: var(--color-text);
  position: relative;
}
.text-block__role {
  margin-bottom: 25px;
}
@media (max-width: 1430px) {
  .text-block__role {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
.text-block__film {
  color: var(--color-header);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.32;
}
@media (max-width: 1430px) {
  .text-block__film {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .text-block__film {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
.text-block__text {
  font-size: 18px;
  line-height: 1.52;
}
@media (max-width: 1430px) {
  .text-block__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 767.98px) {
  .text-block__text {
    line-height: 1.45;
  }
}
.text-block__item {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.22;
}
@media (max-width: 1430px) {
  .text-block__item {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .text-block__item {
    margin-bottom: calc(14px + 6 * ((100vw - 320px) / 1110));
  }
}
.text-block__title {
  font-size: 45px;
  line-height: 1.12;
  color: var(--color-header);
  margin-bottom: 30px;
}
@media (max-width: 1430px) {
  .text-block__title {
    font-size: calc(20px + 25 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .text-block__title {
    margin-bottom: calc(25px + 5 * ((100vw - 320px) / 1110));
  }
}

.desc__page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  height: 100%;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  overflow: visible;
  top: 10vh;
}
.slider__wrapper {
  -webkit-transition: var(--transition) !important;
  -o-transition: var(--transition) !important;
  transition: var(--transition) !important;
  will-change: transform;
  height: 80vh;
}
@media (max-width: 767.98px) {
  .slider__wrapper {
    height: 70vh;
  }
}
.slider__item {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform var(--transition), -webkit-box-shadow var(--transition);
  transition: -webkit-transform var(--transition), -webkit-box-shadow var(--transition);
  -o-transition: transform var(--transition), box-shadow var(--transition);
  transition: transform var(--transition), box-shadow var(--transition);
  transition: transform var(--transition), box-shadow var(--transition), -webkit-transform var(--transition), -webkit-box-shadow var(--transition);
  padding: 0 0 40% 0;
}
.slider__item img {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: var(--transition) !important;
  -o-transition: var(--transition) !important;
  transition: var(--transition) !important;
  will-change: transform;
}
.slider__item.opened {
  z-index: 2;
  -webkit-transform: rotate(-10deg) scale(1.3);
      -ms-transform: rotate(-10deg) scale(1.3);
          transform: rotate(-10deg) scale(1.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 10000px;
          box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 10000px;
}

.slider_bg {
  z-index: 0;
  -webkit-transform: rotate(-20deg) !important;
      -ms-transform: rotate(-20deg) !important;
          transform: rotate(-20deg) !important;
  top: -65vh;
  left: -10vh;
  opacity: 0.15;
  -webkit-filter: blur(120px) saturate(5);
          filter: blur(120px) saturate(5);
  max-height: 20vh;
}
.slider_bg .slider__item {
  max-height: 100vh;
}
@media (max-width: 991.98px) {
  .slider_bg {
    opacity: 0;
    visibility: hidden;
  }
}

.description {
  position: absolute;
  font-size: 18px;
  top: 20vh;
  left: 8vw;
  max-width: 28vw;
  -webkit-transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: opacity var(--transition), -webkit-transform var(--transition);
  -o-transition: opacity var(--transition), transform var(--transition);
  transition: opacity var(--transition), transform var(--transition);
  transition: opacity var(--transition), transform var(--transition), -webkit-transform var(--transition);
}
@media (max-width: 1430px) {
  .description {
    font-size: calc(10px + 8 * ((100vw - 320px) / 1110));
  }
}
.description.hidden {
  opacity: 0;
  -webkit-transform: translate(0, 5vh);
      -ms-transform: translate(0, 5vh);
          transform: translate(0, 5vh);
}
.description.hidden .description__text {
  -webkit-transform: translate(0, 2vh);
      -ms-transform: translate(0, 2vh);
          transform: translate(0, 2vh);
}
.description__title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  letter-spacing: 2.5px;
  background: -o-linear-gradient(55deg, LightSeaGreen, Chocolate, MediumBlue);
  background: linear-gradient(35deg, LightSeaGreen, Chocolate, MediumBlue);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1430px) {
  .description__title {
    font-size: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .description__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1110));
  }
}
.description__text {
  will-change: transform;
  opacity: 0.7;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  -o-transition: transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
  line-height: 1.4;
}
@media (max-width: 991.98px) {
  .description__text {
    line-height: 1.25;
  }
}

.many-sliders__page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 1430px) {
  .many-sliders__page {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .many-sliders__page {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 991.98px) {
  .many-sliders__page {
    display: grid;
    grid-template-columns: repeat(2, minmax(25vw, 35vw));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}
@media (max-width: 460px) {
  .many-sliders__page {
    grid-template-columns: repeat(2, minmax(15vw, 45vw));
    padding: 4vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 20px;
  }
}

.slider-many {
  -webkit-transform: rotate(-12.5deg);
      -ms-transform: rotate(-12.5deg);
          transform: rotate(-12.5deg);
}
.slider-many:nth-child(odd) {
  -webkit-transform: rotate(-192.5deg);
      -ms-transform: rotate(-192.5deg);
          transform: rotate(-192.5deg);
}
.slider-many:nth-child(odd) .slider-many__item {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (max-width: 460px) {
  .slider-many:nth-child(odd) {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .slider-many:nth-child(odd) .slider-many__img {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media (max-width: 460px) {
  .slider-many {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.slider-many .slider-many__wrapper {
  -webkit-transition: var(--transition) !important;
  -o-transition: var(--transition) !important;
  transition: var(--transition) !important;
  will-change: transform;
}
.slider-many__wrapper {
  will-change: transform;
}
.slider-many__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 21vw;
  border-radius: 8px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  -o-transition: transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  will-change: transform;
  overflow: hidden;
}
@media (max-width: 1430px) {
  .slider-many__item {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 991.98px) {
  .slider-many__item {
    width: 37vw;
  }
}
@media (max-width: 460px) {
  .slider-many__item {
    width: 43vw;
  }
}
.slider-many__item:hover .slider-many__img {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.slider-many__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  -o-transition: transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  border-radius: 8px;
}

.emotions__page {
  padding: 120px 0;
  background-color: #000;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.emotions__page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/emotions/light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -65px;
  -webkit-animation: k-light 3s ease-in-out infinite;
          animation: k-light 3s ease-in-out infinite;
}
.emotions__page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/emotions/glow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: k-glow 1.9s ease-in-out infinite;
          animation: k-glow 1.9s ease-in-out infinite;
}
.showcase__title {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 40px;
  font-size: 50px;
  opacity: 0.7;
}
@media (max-width: 1430px) {
  .showcase__title {
    font-size: calc(40px + 10 * ((100vw - 320px) / 1110));
  }
}
.showcase__content-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
}
@media (max-width: 1400px) {
  .showcase__content {
    max-width: 1200px;
    margin: auto;
  }
}
.showcase__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.47;
}

.showcase-carousel__item {
  position: relative;
  height: calc(100vh - 240px);
  text-align: center;
  opacity: 0.35;
  -webkit-transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.8s cubic-bezier(0.4, 0, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.8s cubic-bezier(0.4, 0, 0, 1);
  -o-transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), transform 1.8s cubic-bezier(0.4, 0, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), transform 1.8s cubic-bezier(0.4, 0, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), transform 1.8s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.8s cubic-bezier(0.4, 0, 0, 1);
}
.showcase-carousel__item.swiper-slide-active {
  opacity: 0.75;
  -webkit-transform: scale(1.14);
      -ms-transform: scale(1.14);
          transform: scale(1.14);
}
.showcase-carousel__item p {
  position: absolute;
  width: 100%;
  bottom: 50px;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: rgb(58, 78, 94) 0 0 8px;
}
@media (max-width: 1430px) {
  .showcase-carousel__item p {
    font-size: calc(20px + 6 * ((100vw - 320px) / 1110));
  }
}
.showcase-carousel__image-wrapper > * {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 150px;
          perspective: 150px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
.showcase-carousel__image-left {
  -webkit-perspective-origin: left center;
          perspective-origin: left center;
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.showcase-carousel__image-left .showcase-carousel__image {
  -webkit-animation: k-left 2s ease-in-out infinite;
          animation: k-left 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.showcase-carousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase-carousel__image-right {
  -webkit-perspective-origin: right center;
          perspective-origin: right center;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.showcase-carousel__image-right .showcase-carousel__image {
  -webkit-animation: k-right 2s ease-in-out infinite;
          animation: k-right 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes k-light {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes k-light {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes k-glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes k-glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes k-left {
  0% {
    -webkit-transform: rotateY(-2deg) scaleX(0.92);
            transform: rotateY(-2deg) scaleX(0.92);
  }
  100% {
    -webkit-transform: rotateY(0deg) scaleX(1);
            transform: rotateY(0deg) scaleX(1);
  }
}
@keyframes k-left {
  0% {
    -webkit-transform: rotateY(-2deg) scaleX(0.92);
            transform: rotateY(-2deg) scaleX(0.92);
  }
  100% {
    -webkit-transform: rotateY(0deg) scaleX(1);
            transform: rotateY(0deg) scaleX(1);
  }
}
@-webkit-keyframes k-right {
  0% {
    -webkit-transform: rotateY(0deg) scaleX(1);
            transform: rotateY(0deg) scaleX(1);
  }
  100% {
    -webkit-transform: rotateY(2deg) scaleX(0.92);
            transform: rotateY(2deg) scaleX(0.92);
  }
}
@keyframes k-right {
  0% {
    -webkit-transform: rotateY(0deg) scaleX(1);
            transform: rotateY(0deg) scaleX(1);
  }
  100% {
    -webkit-transform: rotateY(2deg) scaleX(0.92);
            transform: rotateY(2deg) scaleX(0.92);
  }
}
.showcase__navigation {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.showcase__navigation > * {
  position: absolute;
  height: 100%;
  width: 50%;
  outline: none;
}
@media (min-width: 991.98px) {
  .showcase__navigation > * {
    cursor: pointer;
  }
}
.showcase__navigation > *::before {
  content: "➢";
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
  position: absolute;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 35px;
  top: 50%;
  font-size: 50px;
}
@media (max-width: 1430px) {
  .showcase__navigation > *::before {
    font-size: calc(25px + 25 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 680px) {
  .showcase__navigation > *::before {
    left: 25px;
  }
}
.showcase__navigation > *:hover::before {
  opacity: 0.4;
}
.showcase__navigation > * .swiper-button-disabled {
  display: none;
}

.showcase-navigation__next {
  right: 0;
}
.showcase-navigation__next::before {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  right: 35px;
  left: auto;
}
@media (max-width: 680px) {
  .showcase-navigation__next::before {
    right: 25px;
  }
}

.footer {
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
}
@media (max-width: 1430px) {
  .footer {
    padding-top: calc(40px + 50 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .footer {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 1110));
  }
}
.footer__magic-list {
  height: 100%;
}

.magic-footer__container {
  font-size: 35px;
  margin-bottom: 70px;
}
@media (max-width: 1430px) {
  .magic-footer__container {
    font-size: calc(22px + 13 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .magic-footer__container {
    margin-bottom: calc(35px + 35 * ((100vw - 320px) / 1110));
  }
}
.magic-footer__item {
  display: block;
  padding-left: 250px;
  border-bottom: 1px solid rgba(240, 238, 238, 0.193);
  padding-top: 30px;
  padding-bottom: 30px;
  counter-increment: my-counter;
}
@media (max-width: 1430px) {
  .magic-footer__item {
    padding-left: calc(20px + 230 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .magic-footer__item {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .magic-footer__item {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 666px) {
  .magic-footer__item {
    padding-left: calc(var(--index) * 5.5);
  }
}
.magic-footer__item:first-child {
  border-top: 1px solid rgba(240, 238, 238, 0.193);
}
.magic-footer__item::before {
  content: "(0" counter(my-counter) ")";
  position: absolute;
  font-size: 20px;
  margin-left: -80px;
  letter-spacing: 1.5px;
  -webkit-transition: -webkit-transform var(--transition-footer);
  transition: -webkit-transform var(--transition-footer);
  -o-transition: transform var(--transition-footer);
  transition: transform var(--transition-footer);
  transition: transform var(--transition-footer), -webkit-transform var(--transition-footer);
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
  will-change: transform;
}
@media (max-width: 1430px) {
  .magic-footer__item::before {
    font-size: calc(17px + 3 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .magic-footer__item::before {
    margin-left: calc(-38px + -42 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1100px) {
  .magic-footer__item::before {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .magic-footer__item:hover .magic-footer__header {
    -webkit-transform: translate3d(calc(var(--index) * -5), 0, 0);
            transform: translate3d(calc(var(--index) * -5), 0, 0);
  }
  .magic-footer__item:hover::before {
    -webkit-transform: translate3d(calc(var(--index) * -5), 0, 0);
            transform: translate3d(calc(var(--index) * -5), 0, 0);
  }
  .magic-footer__item:hover .magic-footer__cursor {
    height: var(--height);
  }
  .magic-footer__item:hover .cursor-magic__image {
    -webkit-transform: var(--cursor-transform) scale(0.5);
        -ms-transform: var(--cursor-transform) scale(0.5);
            transform: var(--cursor-transform) scale(0.5);
  }
}
.magic-footer__header {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: -webkit-transform var(--transition-footer);
  transition: -webkit-transform var(--transition-footer);
  -o-transition: transform var(--transition-footer);
  transition: transform var(--transition-footer);
  transition: transform var(--transition-footer), -webkit-transform var(--transition-footer);
  will-change: transform;
}
.magic-footer__cursor {
  --width: calc(var(--index) * 30);
  --height: calc(var(--index) * 24);
  position: absolute;
  width: var(--width);
  height: 0;
  top: calc(var(--height) * -0.5);
  left: calc(var(--width) * -0.5);
  overflow: hidden;
  -webkit-transform: translate3d(var(--move-x), var(--move-y), 0);
          transform: translate3d(var(--move-x), var(--move-y), 0);
  -webkit-transition: -webkit-transform var(--transition-cursor);
  transition: -webkit-transform var(--transition-cursor);
  -o-transition: transform var(--transition-cursor);
  transition: transform var(--transition-cursor);
  transition: transform var(--transition-cursor), -webkit-transform var(--transition-cursor);
  -webkit-transition: height 1s ease, -webkit-transform;
  transition: height 1s ease, -webkit-transform;
  -o-transition: transform, height 1s ease;
  transition: transform, height 1s ease;
  transition: transform, height 1s ease, -webkit-transform;
  z-index: -1;
  will-change: transform;
}

.cursor-magic__image {
  --cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
  position: relative;
  width: calc(var(--width) * 2);
  height: calc(var(--height) * 2);
  top: calc(var(--height) * -0.35);
  left: calc(var(--width) * -0.25);
  background-size: cover;
  background-position: top;
  -webkit-transform: var(--cursor-transform) scale(0.5);
      -ms-transform: var(--cursor-transform) scale(0.5);
          transform: var(--cursor-transform) scale(0.5);
  -webkit-transition: -webkit-transform var(--transition-cursor);
  transition: -webkit-transform var(--transition-cursor);
  -o-transition: transform var(--transition-cursor);
  transition: transform var(--transition-cursor);
  transition: transform var(--transition-cursor), -webkit-transform var(--transition-cursor);
}

@media (min-width: 991.98px) {
  .magic-footer__item:hover .magic-footer__header,
.magic-footer__item:hover::before {
    -webkit-transform: translate3d(calc(var(--index) * -5), 0, 0);
            transform: translate3d(calc(var(--index) * -5), 0, 0);
  }
}

.footer__contacts {
  text-align: center;
}

.contacts-footer__title {
  font-family: "Outfit";
  letter-spacing: 1.5px;
  font-size: 45px;
  margin-bottom: 25px;
}
@media (max-width: 1430px) {
  .contacts-footer__title {
    font-size: calc(25px + 20 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .contacts-footer__title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
.contacts-footer__items {
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 35px;
}
@media (max-width: 1430px) {
  .contacts-footer__items {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
.contacts-footer__items > :not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1430px) {
  .contacts-footer__items > :not(:last-child) {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .contacts-footer__items {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 1110));
  }
}
.socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 25px;
  margin-bottom: 35px;
}
@media (max-width: 1430px) {
  .socials {
    gap: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .socials {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1110));
  }
}

.footer__copy {
  color: var(--color-text);
  font-size: 16px;
  margin-bottom: 10px;
}
@media (max-width: 1430px) {
  .footer__copy {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .footer__copy {
    margin-bottom: calc(7px + 3 * ((100vw - 320px) / 1110));
  }
}
.footer__dev {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1430px) {
  .footer__dev {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1110));
  }
}
.footer__dev a:hover {
  color: rgb(78, 225, 16);
}
.footer__dev a:visited {
  color: rgb(78, 225, 16);
}
